h1 {
  text-align: center;
  color: white;
}
body {
  background: black;
}
svg {
  color: red;
  background: #fff;
  border: 1px solid red;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 120px;
  flex-direction: column;
}

form div {
  display: flex;
}